{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Blog App</title>
</head>
<body>
    <h1>Welcome To My Blog</h1>

    <h2>Categories</h2>
    <div class="categories">
        {% for category in categories %}
            <a href="{% url 'category' category.name %}">{{ category.name }}</a>
        {% endfor %}
    </div>

    <h2>Recent Posts</h2>
    <div class="post-list">
        {% for post in posts %} 
        <div class="post-item">    
            <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
            <p>{{ post.author }} created on {{ post.created_at|date:"M d, Y" }}</p>
        </div>
        {% empty %}
            <p>No posts yet.</p>

        {% endfor %}
    </div>

</body>
</html>