{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>
    <h1>Welcome To My Blog</h1>
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'category' category.name %}">{{ category.name }}</a>
        </li>
        {% empty %}
        <li>No categories yet.</li>
        {% endfor %}
    </ul>

    <h2>Recent Posts</h2>
    <ul>
        {% for post in posts %} 
        <li>       
            <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
            <p>{{ post.author }} created on {{ post.created_at|date:"M d, Y" }}</p>
        </li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
</ul>
</body>
</html>