{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Posts</title>
</head>
<body>
   <h1> {{ post.title }} </h1>
    <p>By {{ post.author }} on {{ post.created_at }} </p>
    <div> {{ post.content }} </div>

    <h3>Comments</h3>
    {% if comments %}
        <ul>
            {% for comment in comments %} 
            <li>
                <b>{{comment.user}}</b> <br>
                {{comment.content}} <br></p>
                <small>{{ comment.created_at | date:"M d, Y H:i" }}</small>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No comments yet.</p>
    {% endif %}

    <!-- <form method="POST">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <button type="submit">Leave a comment</button>
    </form> -->

    <form method="post" action="{% url 'post_detail' slug=post.slug %}">
  {% csrf_token %}
  <input type="text" name="user" placeholder="Your name">
  <textarea name="content" placeholder="Your comment"></textarea>
  <button type="submit">Submit</button>
</form>

</body>
</html>